<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!--引入统一头-->
<head th:include="import/head :: head"></head>
<body class="gray-bg top-navigation">
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom white-bg">
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <button aria-controls="navbar" class="navbar-toggle collapsed" type="button">
                        <i class="fa fa-reorder"></i>
                    </button>
                    <a href="#" class="navbar-brand">植物识别</a>
                </div>
            </nav>
        </div>
        <div class="wrapper wrapper-content">
            <div class="container">
                <div class="row">
                    <div class="col-ms-6 col-sm-offset-3">
                        <div class="container">
                            <form class="form-inline" method="post" th:action="@{/upload}" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="exampleFormControlFile1">上传图片：</label>
                                    <input type="file" name="file" class="form-control" id="exampleFormControlFile1">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary mb-2">确定上传</button>
                                </div>
                            </form>
                            <p th:text="${error}" class="text-danger"></p>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-sm-6" th:each="image:${list}">
                        <div class="social-feed-box">
                            <div class="social-avatar">
                                <div class="media-body">
                                    <a href="#">
                                        上传时间：
                                    </a>
                                    <small class="text-muted" th:text="${image.uploadTime}"></small>
                                </div>
                            </div>
                            <div class="social-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img th:src="${image.image}" class="img-responsive" style="width:300px;">
                                    </div>
                                    <div class="col-sm-6">
                                        <h4>评分结果：</h4>
                                        <p th:each="detail:${image.imageDetails}">
                                            <span th:text="${detail.name}+'：'"></span>
                                            <span th:text="${detail.score}"></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <form th:action="@{/like}" method="post" style="display: inline-block">
                                        <input type="hidden" th:value="${image.id}" name="imageId" style="display: inline-block"/>
                                        <button type="submit" class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i>赞 <span th:text="${image.likeCount}"></span></button>
                                    </form>
                                    <form th:action="@{/unlike}" method="post" style="display: inline-block">
                                        <input type="hidden" th:value="${image.id}" name="imageId"/>
                                        <button type="submit" class="btn btn-white btn-xs"><i class="fa fa-thumbs-down"></i>踩 <span th:text="${image.unlikeCount}"></span></button>
                                    </form>
                                </div>
                            </div>
                            <div class="social-footer">
                                <div class="social-comment" th:each="comment:${image.commentList}">
                                    <a href="" class="pull-left">
                                        <img alt="image" src="img/a3.jpg">
                                    </a>
                                    <div class="media-body">
                                        <p th:text="${comment.content}"></p>
                                        <small class="text-muted" th:text="${comment.commentTime}"></small>
                                    </div>
                                </div>
                                <div class="social-comment">
                                    <a href="" class="pull-left">
                                        <img alt="image" src="img/a3.jpg">
                                    </a>
                                    <div class="media-body">
                                        <form th:action="@{/comment}" method="post">
                                            <input type="hidden" th:value="${image.id}" name="imageInfoId"/>
                                            <textarea class="form-control" placeholder="填写评论..." name="content"></textarea>
                                            <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-comments"></i>发布</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        <div class="footer">-->
<!--            <div class="pull-right">-->
<!--                By：<a href="#" target="_blank">大表哥出品</a>-->
<!--            </div>-->
<!--            <div>-->
<!--                <strong>Copyright</strong> © 2019-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>

<!--引入统一JS-->
<script th:replace="import/script :: script"></script>
</body>
</html>